@import '@radix-ui/themes/styles.css';
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-heading: 'Playfair Display', ui-serif, serif;
  --font-display: 'Public Sans', ui-sans-serif, system-ui, sans-serif;

  --shadow-card: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);

  --color-stoic-black: #1a1a1a;
  --color-stoic-white: #fafafa;
  --color-stoic-background: #f9f9f9;
  --color-stoic-gray-400: #64748b;

  --color-stoic-red: #ff6961;
  --color-stoic-green: #7dda8c;
  --color-stoic-amber: #ffd43b;

  --color-background: var(--color-stoic-background);
  --color-foreground: var(--color-stoic-black);

  --color-primary: var(--color-stoic-black);
  --color-secondary: var(--color-stoic-gray-400);
  --color-primary-foreground: var(--color-stoic-white);

  --color-destructive: var(--color-stoic-red);
  --color-destructive-foreground: #4c0000;

  --color-success: var(--color-stoic-green);
  --color-success-foreground: #043813;

  --color-warning: var(--color-stoic-amber);
  --color-warning-foreground: #4a3a00;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-display);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  p {
    @apply text-secondary font-display text-base;
  }
}
